@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');
@import "http://fonts.google.com/css?family=Montserrat:400,700";
body{
  color: #555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url(bground.jpg);
}
 #header {
  background-color: #1abc9c;
  height: 150px;
  line-height: 150px;}
 #header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
 }
 #header a:hover{
  filter: drop-shadow(1px 4px 7px black);
  color: #222;
 }
 .header-title{
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#header-nav{
  display: block;
  float: right;
   margin-top: 0;
   }
 #header-nav li{
  display: inline;
  padding-left: 20px;
}
 .container{
  max-width: 1000px;
  margin: 0 auto;
 }
#basad{
  position: absolute;
  right: 20px;
  top: -40px;
  text-align: right;
  display:inline-flex;
  filter: drop-shadow(2px 2px 4px black);
  margin: 0px 50px;
  color: white;
  font-weight: bolder;
 }
#footer{
  background-color: #5C0C2D;
  padding: 50px 0;
}
.column{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
#footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p{
  color: white;
}
a{
  color: #1abc9c;
  text-decoration: none;
}
a:hover{
  color: #F6A623;
}
.post{
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}
.post-auther img{
  width: 50px;
  height: 60px;
  vertical-align: middle;
}
.post-auther span{
  margin-left: 16px;
  margin-top: 10px;
}
.post-date{
  color: #d2d2d2;
  font-size: 14px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4{
  color: #333;
}
.post-content p{
  line-height: 1.5;
}
#abouter{
 font-family: 'Assistant';
 font-weight: bold;
}
#abouter p::first-letter{
  font-size: 1.2em;
  font-weight: 600;
  text-decoration-style: solid;
  text-decoration-color: blue;
  text-indent: 300px;
}
#header, #footer{
  font-size: 10px;
}
#abouter #footer{
  font-weight: 200;
}
#abouter #content{
  max-width: 400px;
  margin: 0 auto;
  text-align: right;
}
#abouter img{
  display:block;
  margin: 20px auto;
}
img{
  border-radius: 50%;
  filter: drop-shadow(5px 5px 5px gray);
}
button:hover{
  background-color: gray;
  color: white;
}
button{
  border-radius: 30%;
}

.post{
  max-width: 400px;
  margin: auto;



}
.pic img{
  width: 400px;
  height: auto;
  margin: 20px;
  display:inline-flex;
}
